:root {
	color-scheme: light dark;
	background-color: Canvas;
	color: CanvasText;
	font-size: 14px;
	font-family: sans-serif;
}

body {
	margin: 0;
	padding-bottom: 2rem;

	*:any-link {
		text-decoration: none;
		&:hover,
		&.active {
			text-decoration: underline 2px solid;
		}
		&.clean {
			&:hover {
				text-decoration: none;
			}
			text-decoration: none;
			color: currentColor;
		}
	}
}

.content {
	padding-top: 3rem;
	max-width: 1000px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 0.25rem 0rem;
	position: relative;

	@media only screen and (max-width: 760px) {
		padding-inline: 0.5rem;
	}
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: Canvas;
	color: CanvasText;

	.nav {
		display: flex;
		align-content: center;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0.5rem 0.75rem;

		.logo {
			font-weight: bolder;
			font-size: 1.5rem;
		}

		.links {
			display: flex;
			max-width: 70%;
			flex-wrap: wrap;
			justify-content: end;
			align-content: center;
			gap: 0.5rem 1rem;
		}
	}

	.form-container {
		form {
			background-color: Field;
			color: FieldText;
			flex-grow: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0 1rem;
			padding: 0.25rem;
			border-bottom: 1px solid currentColor;

			input[type="text"] {
				background-color: transparent;
				border: none;
				flex: 1;
				padding: 10px;
				font-size: 16px;
				&:focus-visible,
				&:focus {
					outline-style: none;
					outline-width: 0px;
				}
			}
		}
	}
}

.menubar {
	background-color: color-mix(in srgb, Canvas 95%, CanvasText 5%);
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: end;
	gap: 0.5rem 1rem;
	padding: 0.75rem 0.75rem;
}

button {
	border: 1px solid ButtonBorder;
	display: flex;
	gap: 0.2em;
	align-items: center;
	padding: 0.5rem 0.75rem;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
}

.button-spinner {
	display: inline-block;
	vertical-align: middle;
}

.button-spinner .spinner {
	width: 1em;
	height: 1em;
	border: 2px solid #f3f3f3;
	border-top: 2px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

.error-message {
	color: red;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

table {
	border: 1px solid currentColor;
	border-collapse: collapse;
	max-width: 100%;
	td,
	th {
		border: 1px solid currentColor;
		overflow: auto;
		padding: 0.25rem;
	}
	th:not(:first-of-type),
	td:not(:first-of-type) {
		border-inline: 0.75px dashed;
	}
}

table.results {
	.book-link {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
