<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Flask App{% endblock %}</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/style.css') }}" />
		{% block extra_css %}{% endblock %}
	</head>
	<body>
		<!-- Navbar -->
		<div class="navbar">
			<div class="nav">
				<div class="logo">
					<a
						href="{{ url_for('search') }}"
						class="clean"
						>SABB</a
					>
				</div>
				<div class="links">
					<a
						href="{{ url_for('search') }}"
						class="{% if request.endpoint == 'search' %}active{% endif %}"
						>Search</a
					>
					<a
						href="{{ url_for('status') }}"
						class="{% if request.endpoint == 'status' %}active{% endif %}"
						>Status</a
					>
				</div>
			</div>
			{% if (nav_link_name and nav_link_url) or library_reload_enabled %}
			<div class="menubar">
				{% if nav_link_name and nav_link_url %}
				<a
					href="{{ nav_link_url }}"
					target="_blank"
					>{{ nav_link_name }}</a
				>
				{% endif %} {% if library_reload_enabled %}
				<a
					href="#"
					onclick="reloadLibrary(); return false;"
					>Reload Library</a
				>
				{% endif %}
			</div>
			{% endif %}

			<div class="form-container">
				<form
					method="post"
					action="{{ url_for('search') }}"
					class="search-container"
					onsubmit="showLoadingSpinner()">
					<input
						type="text"
						name="query"
						placeholder="Enter book name"
						class="search-bar"
						required />
					<button
						type="submit"
						class="search-button"
						id="search-button">
						<span class="button-text">Search</span>
						<div
							class="button-spinner"
							id="button-spinner"
							style="display: none">
							<div class="spinner"></div>
						</div>
					</button>
				</form>
			</div>
		</div>

		<!-- Page Content -->
		<div class="content">{% block content %}{% endblock %}</div>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>
