{% extends "base.html" %} {% block title %}Search{% endblock %} {% block content %} {% if error %}
<p class="error-message">{{ error }}</p>
{% endif %}

<table class="results">
	<tbody>
		{% for book in books %}
		<tr>
			<td>
				<img
					src="{{ book.cover }}"
					alt="Cover Art"
					class="cover"
					width="100" />
			</td>
			<td>
				<span
					class="book-link"
					onclick="window.open('{{ book.link }}', '_blank')">
					{{ book.title }}
				</span>
			</td>
			<td>
				<button onclick="sendToQB(event, '{{ book.link|escape }}', '{{ book.title|escape }}')">Download</button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
