{% extends "base.html" %} {% block title %}Torrent Status{% endblock %} {% block content %}
<table class="status">
	<thead>
		<tr>
			<th>Title</th>
			<th>Progress</th>
			<th>State</th>
			<th>Size</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for torrent in torrents %}
		<tr>
			<td>{{ torrent.name }}</td>
			<td>{{ torrent.progress }}%</td>
			<td>{{ torrent.state }}</td>
			<td>{{ torrent.size }}</td>
			<td>
				<button
					class="remove-button"
					onclick="deleteTorrent('{{ torrent.id }}')">
					Remove
				</button>
			</td>
		</tr>
		{% else %}
		<tr>
			<td
				colspan="5"
				style="text-align: center">
				No books downloading.
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
